* {
    background-color: black;
}


/* nav bar */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    padding: 20px 10%;
}

.nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_links li {
    display: inline;
    margin-right: 20px;
}

.nav_links li a {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 18px;
}

.nav_links li a:hover {
    color: grey;
}

button {
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}

button:hover {
    background-color: grey;

}


/* nav bar */

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    position: absolute; /* Position the footer relative to its containing block */
    bottom: 0; /* Position the footer at the bottom of its containing block */
    left: 0; /* Align the footer to the left */
    right: 0; /* Align the footer to the right */
    z-index: 1000; /* Adjust the z-index as needed */
}

.footerNav {
    position: absolute; /* Position the footer navigation relative to its containing block */
    bottom: 0px; /* Position it at the bottom of the containing block */
    left: 50%; /* Align to the center horizontally */
    transform: translateX(-50%); /* Center the element horizontally */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    font-size: 17px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.footerNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerbottom {
    position: absolute; /* Position the bottom content relative to its containing block */
    bottom: 0px; /* Adjust as needed */
    left: 15%; /* Align to the center horizontally */
    transform: translateX(-50%); /* Center the element horizontally */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}


.container {
    max-width: 1200px;
    margin: 35px;
    padding: 20px; /* Reduced padding for better spacing */
    color: white;
    text-align: left; /* Align text to the left */
}

/*clickable color & hover*/
a {
    color: yellow;
    text-decoration: none; 
    
}

a:hover {
    color: grey; 
}

.image-slots {
    display: flex;
    justify-content: right; /* Center align the images */
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    gap: 25px; /* Adjust the gap between images */
    margin-top: 20px; /* Add margin between text and images */
}

.image-slots img {
    max-width: 300px; /* Increase maximum width for larger images */
    height: auto; /* Maintain aspect ratio */
}

  /* hide default scrollbars for browser */
  html,
  body {
    scrollbar-width: none; /* this is firefox */
    -ms-overflow-style: none; /* this is ms edge */
  }
  
  /* hide scrollbar webkit based browsers */
  ::-webkit-scrollbar {
    display: none;
  }
